*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ff6f61;
  --secondary-color: #e2f3e3;
  --primary-color: #facdcd;
  --light-bg: #ffffff;
  --dark-bg: #333333;
}
html,
body {
  font-family: "Handlee", cursive;
  font-size: 16px;
  line-height: 1.6;
  scroll-behavior: smooth;
  background-color: var(--light-bg);
  color: var(--dark-bg);
}

button,
form input::file-selector-button {
  border: 2px dashed var(--main-color);
  background-color: var(--light-bg);
  color: var(--dark-bg);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
}

body h2 {
  text-align: center;
  background-color: var(--primary-color);
  margin: 20px auto;
  padding: 10px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-height: calc(100vh - 120px);
  margin: 20px auto;
  padding: 20px;
  padding-top: 70px;
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.container .upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-section form {
    display: flex;
    flex-direction: column;
}

.image-preview {
  margin-top: 40px;
  max-width: 400px;
}
.image-preview img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-preview h4 {
  margin-bottom: 20px;
  text-align: center;
}
.caption-box {
  margin-top: 15px;
  margin-bottom: 15px;
}

.upload-section {
  margin-bottom: 20px;
    max-width: 400px;

}

.result-section p {
    margin-top: 20px;
}

.upload-section h3 {
    margin-bottom: 20px;
}
button {
  margin-top: 10px;
}
