<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/styles.css">
    <title>IMAGE CAPTIONING</title>
</head>
<body>
    <h2>IMAGE CAPTIONING</h2>
    <div class="container">
        <div class="upload-section">
            <h3>Upload an Image or Use a Default one</h3>
            <form action='/predict' method="post" id="upload-form" enctype="multipart/form-data">
                <input type="file" id="image" name="image" accept="image/*" required>
                <button type="submit">Generate Caption</button>
            </form>
        </div>
        <div class="result-section">
            <h3>Generated Caption</h3>
            {% if prediction_text %}
            <p>{{ prediction_text }}</p>
            {% else %}
            <p>No predictions yet made...</p>
            {% endif %}
        </div>
    
</body>
</html>